pandas
numpy
torch
scikit-learn
fastapi
uvicorn
requests

# python backend/dataGennormal.py         # creates normalTransactions.csv
# python backend/dataGenfraudPatterns.py  # injects frauds, creates syntheticTransactions.csv
# python backend/model/autoEncoder.py      # autoencoder.pth, onehot.pkl, scaler.pkl 

# cd backend
# uvicorn api.main:app --reload
