pip install pandas numpy torch scikit-learn fastapi uvicorn requests

python backend/dataGen/normal.py         # creates normal_transactions.csv
python backend/dataGen/fraudPatterns.py  # injects frauds, creates synthetic_transactions.csv
python backend/model/autoEncoder.py      # autoencoder.pth, onehot.pkl, scaler.pkl